# PLANTILLA PARA MODELOS DE REGRESIÓN

En este punto del código se importan las librerías que se quieren usar en el desrrollo del modelo.

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

En este punto se importa el dataset con el que se va a trabajar con este modelo, provienen de un csv, y tras ejecutar el código, podemos ver cómo almacena pandas el dataset.

In [5]:
dataset = pd.read_csv('Position_Salaries.csv')
dataset

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

Una vez cargado el dataset, almacenamos las variables dependientes en una nueva variable llamada X.

In [ ]:
X = dataset.iloc[:, :-1].values                                                                 # Indicamos que queremos desde la primera columna (:) hasta la última, salvo la última (:-1) !!!!!![filas, columnas]!!!!
X

array([['Business Analyst', 1],
       ['Junior Consultant', 2],
       ['Senior Consultant', 3],
       ['Manager', 4],
       ['Country Manager', 5],
       ['Region Manager', 6],
       ['Partner', 7],
       ['Senior Partner', 8],
       ['C-level', 9],
       ['CEO', 10]], dtype=object)

Ahora almacenamos la variable dependiente en una variable llamada y.

In [ ]:
y = dataset.iloc[:, -1].values                                                                  # Indicamos que solo queremos la última columna <-- VARIABLE A PREDECIRy
y

array([  45000,   50000,   60000,   80000,  110000,  150000,  200000,
        300000,  500000, 1000000])

## OPCIONAL - TRATAMIENTO DE LOS NAS

Esta sección trata de manejar los valores vacíos para normalizarlos, en este caso, los NaN se sustituyen por el valor de la media de la columna

In [ ]:
from sklearn.impute import SimpleImputer                                                        # Importamos solo una función, con esta trataremos los NAs
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")                                 # Indicamos cómo debe actuar en los casos de atributos sin valor
imputer.fit(X[:, 1:3])                                                                          # De 1 a 3 porque python no toma el ultimo valor, con fit se calculan los valores de relleno en las columnas
X[:, 1:3] = imputer.transform(X[:, 1:3])                                                        # Selecciona las columnas y "confirma" esos valores NaN modificados por las medias
X

En esta sección, se divide el dataset en el conjunto de entrenamiento y el conjunto de test

In [ ]:
from sklearn.model_selection import train_test_split                                            # Librería para dividir dataset en conjuntos
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)    # Creación de variables

## OPCIONAL - ESCALADO DE LAS VARIABLES

Esta sección se encarga de "nornmalizar" las variables para ajustar los valores y que todos los campos tangan relevancia en la predicción "por igual"

In [ ]:
from sklearn.preprocessing import StandardScaler                                                # Librería para poder normalizar los valores, que no sean tan lejanos entre sí para que no haya tanjta diferencia de peso
sc = StandardScaler()                                                                           # Creamos una instancia de StandardScaler
X_train[:, 3:] = sc.fit_transform(X_train[:, 3:])                                               # Normalizamos conjunto de entrenamiento y aplicamos
X_test[:, 3:] = sc.transform(X_test[:, 3:])                                                     # Aplicamos misma normalización para conjunto de test